/* Style the mat-toolbar */
mat-toolbar {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Add space between items */
    height: 7rem; /* Adjust the height as needed */
    padding: 0px 0; /* Adjust the padding as needed */
    background-color: #f5f5f5; /* Whitish background */
    color: #ff0000; /* Red variant font color */
    font-family: 'Roboto', sans-serif; /* Use a modern font */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

/* Style the spacer */
.spacer {
  flex: 0.51 1 auto;
}

/* Style the buttons */
button {
  color: #ff0000; /* Red variant font color */
  border-radius: 0px; /* Rounded corners */
  margin: 0 5px; /* Add space between buttons */
  height: 100% !important; /* Make buttons occupy full height of navbar */
  width: 8rem !important;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}
/* Hover effect for buttons */
button:hover {
  background-color: #ff0000; /* Red background on hover */
  color: white; /* White text on hover */
}
