.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
}



.content-container {
    margin-top: 10rem;
    position: relative;
    /* Adjust based on the height of your toolbar */
}





.home-data-card {
    width: calc(95% - 20px); /* Adjust based on desired card width and spacing */
    padding: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;

}

.custom-card-style {
    background-color: #8ee1ea1c; /* Example color, change to your preferred color */
}


.restaurants-container {
    background-color: #8ee1ea1c;
    padding: 1rem;
    margin: 1rem;
}
